body{
    margin:0;
}
.navBar{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logo{
    font-size: 20px;
}
.navlinks{
    display: flex;
    list-style-type: none;
}
.navlinks li{
    margin: 0 15px;
}
.navlinks a{
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

.navlinks a:hover{
    color: greenyellow;
}

.burger{
    display: none;
    font-size: 2em;
    cursor: pointer;
}
@media screen and (max-width:768px){
    .navlinks{
        display: none;
        position: absolute;
        top: 30px;
        left: 70%;
        right: 0;
        width: 30%;
        text-align: center;
    }
        .show{
            display: block;
            flex-direction: column;
            background-color: chartreuse;
        }
    .burger{
        display: block;
    }
}