*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  body{
    display: flex;
    align-items: center;
    justify-content: center;    
    background-image: linear-gradient(to right,rgb(218, 218, 23),rgb(106, 106, 14));
    
    min-height: 100vh;
    width: 100%;
  }
  
  .ques-text,.ques-num{
    font-weight: 500;
    font-size: 20px;
    display: block;
    color: yellow;
  }
  .answer{
    display:flex;
    flex-direction: column;
    
  }
  .button{
    background-color: rgb(5, 5, 13);
    color:yellow;
    border: 1px solid rgb(56, 56, 70);
    margin:3px;
    font-weight: bold;

  }
  .main{
    background-color: rgb(9, 9, 9);
    padding: 30px;
  }
  .msg{
    color: yellow;
    font-weight: 600;
    padding: 10px;
    text-transform: capitalize;
    display: block;
  }
  .btn2{
    background-color: black;
    color: yellow;
    font-weight: 800;
    display: block;
    position: relative;
    left: 35px;
    padding: 10px;
    margin: 10px;
  }