h1{
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    text-decoration-thickness: 10px;
    text-shadow: 3px 3px red;
    letter-spacing: 1px;
    word-spacing: 1px;
}
h2{
    text-decoration: solid ;
    text-transform: uppercase;
    color: rgb(116, 116, 3);
    
}
dl dt{
    text-transform: capitalize ;
    text-transform: uppercase;
    color: rgb(255, 0, 174);
}
dl>dd{
    color: rgb(15, 2, 38);
}
pre>code{
    color: rgb(3, 67, 11);
    
}
body{
   
    background-image: url(./images/th\ \(1\).jpg) ;
    background-repeat: no-repeat;
    background-position: top right ;
    background-attachment: scroll;

}
