p{
    width: 120px;
    height: 120px;
    background-color: red;
    text-align: center;
    padding: 40px;
}
div{
    width: 220px;
    height: 220px;
    background-color: blue;
    text-align: center;
    padding: 110px 50px 0px;
}