#main{
    position: relative;
}
header{
    
    display: grid;
    grid-template-columns: 1300px 100px 100px 100px;
}
div[alt="image1"]{
    width: 100%;
}

section{
    position: relative;
    top: 20px;
    display: grid;
    grid-template-columns: 600px 500px;
    column-gap: 20px;
}
#side{
    width:800px;
    font-size: 25px;
    position: relative;
    left: 5%;
}
#side>h1,span{
    position: relative;
    left: 30%;
}
section>img{
    height: 550px;
    width: 600px;
}
@media screen and (max-width:320px){
    #main{
            position: relative;
            z-index: 3;
        }
    header{
        width: 100%;
        display: grid;
        grid-template-columns: 1000px 100px 100px 100px;
     }
     a{
         text-decoration: none;
         color: black;
     }
    div[alt="image"]{
     width: 100%;
    }
    section{
     display: grid;
     grid-template-columns: 425px ;
    }
    section>img{
      width: 800px;
      height: 800px;
     position: relative;
     left: 350px;
     }
     #side{
         font-size: 50px;
         position: relative;
         left: 300px;
     }
     #side>h1,span{
         position: relative;
         left: 150px;
     }
}
@media screen and (min-width:321px) and (max-width:376px)
{
    header{
       width: 100%;
       display: grid;
       grid-template-columns: 1200px 100px 100px 100px;
    }
    a{
        text-decoration: none;
        color: black;
    }
   div[alt="image"]{
    width: 100%;
   }
   section{
    display: grid;
    grid-template-columns: 425px ;
   }
   section>img{
     width: 800px;
     height: 800px;
    position: relative;
    left: 350px;
    }
    #side{
        font-size: 50px;
        position: relative;
        left: 300px;
    }
    #side>h1,span{
        position: relative;
        left: 150px;
    }

}
@media screen and (min-width:376px) and (max-width:426px)
{
    #main{
            position: relative;
            z-index: 2;
        }
    header{
       width: 100%;
       display: grid;
       grid-template-columns: 1250px 100px 100px 100px;
    }
    a{
        text-decoration: none;
        color: black;
    }
   div[alt="image"]{
    width: 100%;
   }
   section{
    display: grid;
    grid-template-columns: 425px ;
   }
   section>img{
     width: 800px;
     height: 800px;
    position: relative;
    left: 350px;
    }
    #side{
        font-size: 50px;
        position: relative;
        left: 300px;
    }
    #side>h1,span{
        position: relative;
        left: 150px;
    }
}
    @media screen and (min-width:769px) and (max-width:1440px){
        #main{
            position: relative;
            z-index: 1;
        }
        div[alt="image1"]{
            transform: scale(500,500);
        }
        header{
            display: grid;
            grid-template-columns: 1300px 100px 100px 100px;
        }
    }
    
